/* CSS - Name: "main.css" */


/* palleton id: http://paletton.com/#uid=23i0u0kcglL4Zvw8Eq6eXhmkwen */


/* Google Fonts Import */

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Source+Sans+Pro');
body {
    background-color: #406868;
    font-family: 'Source Sans Pro', Calibri, sans-serif;
}

a {
    color: #194545;
    font-size: 1.1em;
}

section {
    padding: 15px;
}

#section1,
#section2 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.leftcol {
    width: 48%;
    flex: 1 0 15em;
    margin: .5em;
}

.rightcol {
    width: 48%;
    flex: 1 0 15em;
    margin: .5em;
}

img {
    max-width: 100%;
}

nav {
    background-color: #AD896B;
    color: #194545;
}

.heading {
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
    color: #194545;
    margin-bottom: auto;
    padding: bottom;
}

#content {
    width: 960px;
    margin: 0 auto;
}

.fullwidth {
    width: 100%;
}

#section1 {
    background-color: #7F9797;
}

#secion2 {
    background-color: #D0B198;
}

#bottom {
    text-align: center;
    background-color: #7F9797;
}

#social {
    display: flex;
    justify-content: flex-end;
}

#copy {
    display: flex;
    justify-content: flex-start;
    position: relative;
    bottom: 50px;
}